/* Body Grid */

/* Tags */
h1 {
  text-align: center;
}

p {
  text-align: left;
  margin: 0 20%;
}

header {
  background-color: darkblue;
}

footer {
  background-color: darkblue;
  height: 100px;
}

/* IDs */
#float-right-box {
  float: right;
  height: 20px;
  width: 20px;
  border: 15px;
}

#light-blue-rec {
  height: 20px;
  width: 50%;
  border: 15px;
  margin: auto;
  background-color: lightblue;
}

/* Classes */
.dark-blue {
  background-color: darkblue;
}

.white-text {
  color: white;
}
