/* Body Grid */

/* Tags */
h1 {
  text-align: center;
}

p {
  text-align: left;
  margin: 0 30%;
}

header {
  background-color: darkblue;
}

footer {
  background-color: darkblue;
  height: 100px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* IDs */
#float-right-box {
  padding-left: 1313px;
  margin: 0 5px 0 0;
  height: 20px;
  width: 5px;
  border: 15px;
}

#light-blue-rec {
  height: 20px;
  width: 45%;
  border: 15px;
  margin: auto;
  background-color: lightblue;
}

/* Classes */
.dark-blue {
  background-color: darkblue;
}

.white-text {
  color: white;
}
